.ph-mega-menu-content-row-item {
	text-align: center;
}

.ph-mega-menu-content-header {
	text-align: center;
	margin: 0 auto;
}

.ph-mega-menu-content-image {
	text-align: center;
	margin: 0 auto;
}

.ph-mega-menu-content-description {
	text-align: left;
	margin: 0 auto;
}
.ph-mega-menu-content-subcategories {
	text-align: left;
	margin: 0 auto;
}